* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.9rem;
}
form {
  height: 100%;
  padding: 50px calc((100% - (800px + 60px)) / 2);
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 20px;
}
form div {
  background-color: rgb(109, 109, 199);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}
@media (max-width:900px){
body{overflow-y:visible} 
form{padding:10px;
    grid-template-columns: repeat(auto-fill, 150px);
  justify-content:center;
  align-items:center
}
form div{width:150px;min-height:100px;max-height:150px}
}
form div:hover {
  transform: scale(1.2);
  box-shadow: 15px 15px 10px black;
}
input,
label {
  cursor: pointer;
}
